<?xml version ="1.0"?>
<launch>


  <include file="$(find gazebo_ros)/launch/empty_world.launch"/>
	

 
  
  <node name="spawn_sdf" pkg="gazebo_ros" type="spawn_model" args="-file /home/dennis/catkin_ws/src/create/model-1_4.sdf -sdf -model create" />
 <!--<node name="spawn_sdf1" pkg="gazebo_ros" type="spawn_model" args="-file /home/dennis/catkin_ws/src/create/model-1_4-2.sdf -sdf -x 1 -model create1" /> -->
  
  <node name="roomRendezvous" pkg="bump" type="roomRendezvous"/>
 <!-- <node name="roomRendezvous1" pkg="bump" type="roomRendezvous1"/> -->

</launch>

